<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- 网络权限，用于下载JSON和图片 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application>
        <!-- 专辑封面内容提供者 -->
        <provider
            android:name=".media.library.AlbumArtContentProvider"
            android:authorities="com.wzh.uampmusic.albumart"
            android:exported="false" />
    </application>

</manifest>